<header class="page-header">
</header>

<form class="form-block" id="productForm" data-tab-wrapper data-ng-submit="ctrl.save()">

    <fieldset class="card" data-tab-group="main">
        <legend data-i18n="title.form.summary"></legend>

        <dl class="info">
            <dt data-i18n="label.id"></dt>
            <dd data-ng-bind="data.product.id"></dd>
        </dl>

        <input name="title" class="form-element" data-ng-model="data.product.title"/>
        <textarea name="summary" class="form-element" data-ng-model="data.product.summary"></textarea>
    </fieldset>

    <fieldset class="card" data-tab-group="main">
        <legend data-i18n="title.form.description"></legend>

        <textarea name="description" data-editor="content" class="form-element"
                  data-ng-model="data.product.description"></textarea>
    </fieldset>

    <fieldset class="card" data-tab-group="variants">
        <legend data-i18n="title.form.variants"></legend>
    </fieldset>

    <fieldset class="card" data-tab-group="category">
        <legend data-i18n="title.form.categories"></legend>
    </fieldset>

    <nav class="form-actions">
        <button data-form-submit="ctrl.save()"></button>
    </nav>

</form>